<!--

body
 {
  top:0px;

  margin:0px;
  padding:0px;

  font:normal 85% arial;

  background-color:#000;

  background-size:100% auto;
 }


#page_container, #page_header, #page_footer
 {
  float:left;
  width:100%;

  max-width:1000px;

  background-color:#000;

  border:1px solid #333;
  border-top:5px solid #333;
  border-bottom:5px solid #333;
 }


#page_container
 {
  width:80%;

  margin:20px 0px 20px 5%;
 }

#page_header, #page_footer
 {
  background-color:#000;

  opacity:.7;
 }

#page_footer
 {
  border-top:1px solid #333;
 }

#page_footer #page_footer_note
 {
  float:left;
  width:100%;

  margin:20px 0px 30px 0px;

  text-align:center;

  color:#AAA;
 }


#page_header
 {
  float:left;
  width:80%;
  /* width:100%; */

  position:fixed;

  z-index:10;

  border-bottom:0px;
  /* border-bottom:1px solid #DDD; */
 }

#page_header_menu
 {
  float:left;
  width:100%;

  margin-bottom:0px;
  padding-bottom:0px;
 }

#page_footer_menu
 {
  float:left;
  width:100%;

  margin-bottom:1em;
 }

#page_header_menu_logo,
#page_footer_menu_logo
 {
  float:left;

  margin:0px 3%;
  padding:0px 1%;

  list-style-type:none;

  text-align:center;

  font:normal 300% arial;
 }


#header_menu-page_description_container
 {
  float:left;
  width:65%;
 }

#dystopian_daily_subhead
 {
  float:left;
  width:65%;
 }

#header_menu-page_description, #dystopian_daily_header, #dystopian_daily_footer, #dystopian_daily_subhead
 {
  float:left;

  margin:0px 3% 0px 20%;
  padding:0px 1% 5px 1%;

  text-align:left;

  font:normal 100% arial;

  color:#AAA;
 }

#dystopian_daily_header,
#dystopian_daily_footer
 {
  float:left;
  width:65%;

  text-align:center;

  margin-top:25px;
  font-size:100%;

  text-transform:uppercase;

  letter-spacing:1.5em;

  font-weight:bold;

  color:#999;
 }

#dystopian_daily_subhead
 {
  width:100%;

  margin:25px 0px 20px 0px;

  text-align:center;

  font-size:85%;
 }

.page_header_menu_item, #page_header_menu_selected_item,
.page_footer_menu_item, #page_footer_menu_selected_item,
.join_us,
.dd_join_us
 {
  float:left;

  margin:10px 3%;
  padding:0px 1%;

  list-style-type:none;

  text-align:center;

  border-bottom:5px solid #000;

  font:normal 200% arial;

  color:#CCC;
 }

.join_us,
.dd_join_us
 {
  float:right;

  margin-right:80px;
 }

#page_header_menu_logo a,
.page_header_menu_item a,
#page_header_menu_selected_item,
.join_us a,
.dd_join_us a
 {
  color:#AAA;

  text-decoration:none;
 }

.join_us a,
.dd_join_us a
 {
  color:#999;
 }

.join_us #art_removal_policy,
.dd_join_us #art_removal_policy
 {
  float:right;

  font-size:.40em;
 }

.dd_join_us #art_removal_policy
 {
  margin-top:1em;

  border-top:1px solid #333;

  color:#999;
 }

#page_footer_menu_logo a,
.page_footer_menu_item a,
#page_footer_menu_selected_item
 {
  color:#CCC;

  text-decoration:none;
 }

.page_header_menu_item:hover,
.page_footer_menu_item:hover,
.join_us:hover
 {
  border-bottom:5px solid #F1F1F7;
 }

#page_header_menu_selected_item,
#page_footer_menu_selected_item
 {
  border-bottom:5px solid #EEE;
 }


#page_content
 {
  float:left;
  width:100%;

  margin-top:20em;
 }

.dystopian_daily_item
 {
  position:relative;

  float:left;

  height:400px;

  width:85%;

  margin:0px 0px 6em 10%;

  line-height:150%;

  color:#666;

  border:1px solid #333;
 }


.dystopian_daily_item_counter_container
 {
  position:absolute;

  height:100%;

  text-align:bottom;

  padding:0;

  background: rgba(0, 0, 0, 0.6);

  border-right:1px solid #333;
 }

.dystopian_daily_item_counter_container h1
 {
  width:3em;

  margin:2em 0 0 0;
  padding:.5em 0;

  text-align:center;

  font:1em arial, normal;

  /* border:1px solid #333; */

  background: rgba(0, 0, 0, 0.6);

  color:#777;
 }

.dystopian_daily_item_text_container
 {
  float:left;
  width:100%;
 }

.dystopian_daily_item_text_container .data_pane
 {
  float:right;
  width:37%;
  height:100%;

  margin:0px;

  margin-right:2%;

  padding:0px;

  color:#FFF;
 }

.dystopian_daily_item_text_container .data_pane:hover
 {
  border-left:1px solid #666;
  border-right:1px solid #666;

  font-size:1.3em;

  background-color:#000;

  opacity:0.8;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text
 {
  position:relative;
  top:20%;

  margin:0px 2px;

  padding:10% 2% 15% 3%;

  border-left:5px solid #666;
  border-right:5px solid #666;

  background-color:#000;

  opacity:0.6;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text:hover
 {
  opacity:0.8;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text .item_header
 {
  margin-bottom:5px;
  padding-bottom:3px;

  border-bottom:1px solid #666;

  text-transform:uppercase;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text .item_header a
 {
  text-decoration:none;

  border-bottom:1px solid #333;

  font-size:70%;

  font-weight:bold;

  line-height:200%;

  color:#FFF;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text .item_text,
.dystopian_daily_item_text_container .data_pane .data_pane_text .item_read_more_link
 {
  position:relative;

  font-family:arial;
  font-size:80%;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text .item_read_more_link
 {
  position:absolute;

  width:100%;

  bottom:10px;

  text-align:center;
 }

.dystopian_daily_item_text_container .data_pane .data_pane_text .item_read_more_link a
 {
  font:normal 100% arial;

  text-decoration:none;

  border-bottom:1px solid #666;

  color:#FFF;
 }

.dystopian_daily_item_image_reference_container
 {
  position:absolute;

  float:left;
  width:100%;
  
  bottom:0px;

  padding:10px;

  /* background-color:#000;

  opacity:0.5; */

  color:#FFF;
 }

.dystopian_daily_item_image_reference_container .artist_data
 {
  float:right;

  margin-right:10%;

  font-size:85%;
 }

.dystopian_daily_item_image_reference_container .artist_data a
 {
  color:#FFF;

  text-decoration:none;

  border-bottom:1px solid #666;

  font-weight:bold;
 }


/* --- [start] loading bar styles --- */

#loading_container
 {
  position:absolute;
  z-index:10;

  bottom:20px;

  width:90%;
  height:20px;
 }

#loading_bar
 {
  width:0;
  height:100%;

  padding:3px;

  background-color:#3399CC;

  border:1px solid #3399CC;

  opacity:.5;

  color:#CCFFFF;
 }

#loading_bar_text
 {
  margin-left:1vw;

  font-size:1em;
 }

/* --- [end] loading bar styles --- */



/* --- [start] cover page (page body and loading bar) styles --- */

#cover_logo_container
 {
  position:fixed;

  z-index:25;

  margin:0px;
  padding:1em 0 2em 0;

  bottom:10%;
  left:35%;

  width:6%;

  text-align:center;

  /* background: rgba(0, 0, 0, 0.5); */
 }

#cover_logo_container #cover_logo,
#cover_logo_container #cover_text
 {
  color:#000033;
 }

#cover_logo_container #cover_logo
 {
  font:3em Arial;
 }

#cover_logo_container #cover_text
 {
  margin-top:1em;

  font:.95em 'Mecha Condensed';
 }

#cover_logo_container #cover_logo_box,
#cover_logo_container #password_entry_box
 {
  float:left;
  width:100%;
 }

/* --- */

#landing_page #cover_logo_container
 {
  bottom:auto;
  top:45%;
  left:40%;

  padding-bottom:30px;

  border-top:3px solid #FFF;
}

#landing_page #cover_logo_container #cover_logo
 {
  color:#FFF;
 }

#landing_page #cover_logo_container #cover_text
{
 color:#CCCCFF;
}

#landing_page #cover_logo_container:hover
 {
  /* cursor:pointer; */
 }

#landing_page_progress_container
 {
  float:left;
  width:100%;

  margin-top:20px;
  padding:0px;

  border-top:1px solid #333;
 }

#landing_page_progress_container #loading_container
 {
  position:unset;

  float:left;
  width:100%;

  bottom:10px;

  height:12px;
 }

#landing_page_progress_container #loading_container #loading_bar
 {
  width:0;

  height:100%;

  padding:1px 0px;

  background-color:#FFF;

  border:0px;

  opacity:1;

  font-size:.2em;

  color:#FFF;
 }


#landing_page_progress_percentage_container,
#cover_logo_container #password_entry_box #password_input_container
 {
  float:left;
  width:100%;

  margin-top:4px;
  padding:0px;

  text-align:left;

  font:.85em 'Mecha Condensed';

  color:#FFF;
 }

#landing_page_progress_percentage_container #loading_bar_text
 {
  float:left;

  margin:0px;
  padding:0px;
 }

#landing_page_progress_percentage_container #please_wait,
#landing_page_progress_percentage_container #please_enter
 {
  float:right;

  display:none;

  font-size:.9em;
  color:#CCCCFF;
 }


#landing_page_progress_percentage_container #please_wait
 {
  display:block;
 }

#landing_page_progress_percentage_container #please_enter
 {
  color:#FFF;
 }

#cover_logo_container #password_entry_box #password_input_container
 {
  margin-top:2em;

  display:none;
 }

#cover_logo_container #password_entry_box #password_input_container input
 {
  float:left;
  width:100%;

  background-color:#000;

  border:1px solid #666;

  color:#999;
 }

#cover_logo_container #password_entry_box #password_input_container #enter_site_button
 {
  float:right;
  width:100%;

  margin:3px 0px 0px 0px;
  padding:0px;

  background-color:#000;

  border:1px solid #444;

  color:#999;
 }


#copyright_menu
 {
  float:left;
  width:100%;

  text-align:center;

  background-color:#333;
  color:#AAA;
 }

#copyright_menu a
 {
  color:#CCC;

  text-decoration:none;

  border-bottom:1px solid #999;
 }


#content_removal_policy_modal
 {
  position:absolute;

  z-index:20;

  top:20%;
  left:30%;

  width:30%;
  height:30%;

  padding:4% 5% 5% 5%;

  border:1px solid #CCC;

  background-color:#000;

  font-size:1em;

  color:#CCC;

  opacity:.7;
 }

#close_content_removal_policy_modal_button
 {
  margin-top:2em;
 }

#content_removal_policy_modal a
 {
  text-decoration:none;
 }

#content_removal_policy_modal a,
.art_removal_email_text
 {
  color:#EEE;

  border-bottom:1px solid #EEE;
 }

#find_out_the_facts_before_deleting_your_art
 {
  border-top:1px solid #666;
 }
/* --- [end] cover page (page body and loading bar) styles --- */



/* --- [start] "for testing purposes only" styles --- */

#test_site_notice_container
 {
  position:absolute;

  top:0px;
  left:0px;

  width:80%;
  height:70%;

  z-index:12;

  opacity:0.8;
  padding:10% 10%;

  background-color:rgba(0, 0, 0, .8);

  color:#FFF;
 }

#test_site_notice_container a
 {
  color:#FFF;

  text-decoration:none;

  border-bottom:1px solid #CCC;
 }

#test_site_notice_container #testing_site_advisory_understood_button
 {
  width:200px;

  padding:2em 5em;

  border:1px solid #FFF;

  color:#FFF;
 }

#test_site_notice_container #testing_site_advisory_understood_button:hover
 {
  font-weight:bold;

  background-color:#111;

  cursor:pointer;
 }

#test_site_notice_container #test_site_notice
 {
  width:400px;

  padding:1em;

  background:rgba(0, 0, 0, 1);
 }

/* --- [end] "for testing purposes only" styles --- */


-->